# Дискорд ID приложения (тоже самое сунуть и в VUE_APP_DISCORD_CLIENT_ID)
DISCORD_CLIENT_ID=
VUE_APP_DISCORD_CLIENT_ID=

# Приватный ключ OAuth
DISCORD_CLIENT_SECRET=

# Сервер на котором разворачивается. Если локалхост то доступа извне нету
PORT=443
HOST=0.0.0.0
BEHIND_PROXY=1

# Разрешает вход напрямую минуя Дискорд
LOCAL_PLAYER=0

# Дебаг режим с читами и прочими вкусностями, без включённого LOCAL_PLAYER работать не будет
DEBUG=0

# Устарело, используется для установки сертификатов если нету nginx
TLS_CERT=
TLS_KEY=
